<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .container{
            width: 1200px;
            margin: auto;
            text-align: center;
            border: solid black 3px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<a href="/">나만의 게시판</a>
<div class="container">
    <form action="/articles/update" method="post">
        <div class="form-group">
            <p>제목</p>
            <input type="text" id="name" name="name" th:value="${article.name}">
            <p>글쓰기</p>
            <textarea name="content" id="content" cols="60" rows="40" th:text="${article.content}">
            </textarea>

        </div>
        <button type="submit">수정하기</button>
    </form>

</div> <!-- /container -->
</body>
</html>