<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/articles/update" method="post">
        <div class="form-group">
            <p>제목</p>
            <input type="text" id="name" name="name" th:value="${article.name}">
            <p>글쓰기</p>
            <textarea name="content" id="content" cols="30" rows="10" th:text="${article.content}">
            </textarea>

        </div>
        <button type="submit">수정하기</button>
    </form>

</div> <!-- /container -->
</body>
</html>